<div class="perfil-page">

  <h1>Your perfil!</h1>

  <div *ngIf="currentUser">
    <p>Welcome, {{ currentUser.firstName }}!</p>
  </div>

  <div class="imgCard">
    <img src='{{currentUser?.photo}}' alt="Your epic perfil photo">
  </div>

  <div class="card">
    <h2>{{currentUser?.firstName}} {{currentUser?.lastName}}</h2>
    <ul>
      <li>{{currentUser?.id}}</li>
      <li>{{currentUser?.mail}}</li>
    </ul>

  </div>

  <button mat-button class="pButton" (click)="logOut()">Close</button>
</div>

